html,
body {
  margin: unset;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nanum Myeongjo", serif;
  color: #862375;
}

h1 {
  font-size: 38px;
  margin: 0%;
}

h2 {
  color: darkslategray;
}

h3 {
  margin: 0;
}

header {
  background-color: #ffcde1;

  padding: 90px 15px;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
}

.flex-content-row {
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  background-color: #fbe6ee;
  width: 400px;
  height: 100%;
  padding: 10px;
  padding-bottom: 265px;
}

pre {
  margin: unset;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.circle {
  list-style: circle;
  color: #862375;
  padding: 0 20px;
}

a i {
  font-size: 30px;
  color: #862375;
  margin: 0 5px;
  margin-right: 20px;
}

.avatar {
  width: 230px;
  border-radius: 125px;
  object-fit: cover;
}

.main-info {
  padding: 20px;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  background-color: #e1d1c8;
  justify-content: space-evenly;
  align-items: center;
}

#rs-school-logo {
  width: 100px;
  color: darkslategray;
}

.fa-github-alt {
  color: black;
  font-size: 40px;
}
